<div class="input-group col-md-5 pl-0 my-lg-4 my-2">
<form #carForm="ngForm" (ngSubmit)="submitCar(newCar); carForm.reset()">

  <div class="form-group">
    <label>Mark</label>
    <input #mark="ngModel" [(ngModel)]="newCar.mark" name='mark' type="text" class="form-control" required minlength="2">

    <div *ngIf="mark.invalid && (mark.dirty || mark.touched)"
     class="alert alert-danger">
      <div *ngIf="mark.errors.required">
        Mark required.
      </div>
      <div *ngIf="mark.errors.minlength">
        Mark must be at least 2 characters long.
      </div>
    </div>
  </div>


  <div class="form-group">
    <label>Model</label>
    <input #model="ngModel" [(ngModel)]="newCar.model" name='model' type="text" class="form-control" required minlength="2">

    <div *ngIf="model.invalid && (model.dirty || model.touched)"
     class="alert alert-danger">
      <div *ngIf="model.errors.required">
        Model required.
      </div>
      <div *ngIf="model.errors.minlength">
        Model must be at least 2 characters long.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Year</label>
    <select #year="ngModel" [(ngModel)]="newCar.year" name='year' required="">
    	<option value="2007">2017</option>
			<option value="2006">2016</option>
			<option value="2005">2015</option>
			<option value="2004">2014</option>
			<option value="2003">2013</option>
			<option value="2002">2012</option>
			<option value="2001">2011</option>
			<option value="2000">2010</option>
			<option value="1999">2009</option>
			<option value="1998">2008</option>
			<option value="2007">2007</option>
			<option value="2006">2006</option>
			<option value="2005">2005</option>
			<option value="2004">2004</option>
			<option value="2003">2003</option>
			<option value="2002">2002</option>
			<option value="2001">2001</option>
			<option value="2000">2000</option>
			<option value="1999">1999</option>
			<option value="1998">1998</option>
			<option value="1997">1997</option>
			<option value="1996">1996</option>
			<option value="1995">1995</option>
			<option value="1994">1994</option>
			<option value="1993">1993</option>
			<option value="1992">1992</option>
			<option value="1991">1991</option>
			<option value="1990">1990</option>
	 	</select>    	

    <div *ngIf="year.invalid && (year.dirty || year.touched)"
     class="alert alert-danger">
      <div *ngIf="year.errors.required">
        Year required.
      </div>
    </div>
  </div>

<div class="form-group">
  <label for="maxSpeed">Max Speed (from 20 to 300):</label>
  <input name="maxSpeed" #maxSpeed="ngModel" [(ngModel)]="newCar.maxSpeed" type="number" class="form-control" ng-min=20 ng-max=300 [range]="[20, 300]"><br>

  <div *ngIf="maxSpeed.invalid && (maxSpeed.dirty || numberOfDoors.touched)"
     class="alert alert-danger">
      <div *ngIf="maxSpeed.errors.range">
        Minimum number of max Speed is 20 and maximum 300.
      </div>
  </div>
</div>

  

  <div class="form-group">
    <label>Is Automatic?</label>
    <input #isAutomatic="ngModel" [(ngModel)]="newCar.isAutomatic" name='isAutomatic' type="checkbox" class="form-control" value="true">
  </div>

  <div class="form-group">
    <label>Engine</label>
    <input type="radio" name="engine" value="diesel" #engine="ngModel" [(ngModel)]="newCar.engine" required>diesel<br>
    <input type="radio" name="engine" value="petrol" #engine="ngModel" [(ngModel)]="newCar.engine" required>petrol<br>
  	<input type="radio" name="engine" value="electric" #engine="ngModel" [(ngModel)]="newCar.engine" required>electric<br>
  	<input type="radio" name="engine" value="hybrid" #engine="ngModel" [(ngModel)]="newCar.engine" required>hybrid<br>

    <div *ngIf="engine.invalid && (engine.dirty || engine.touched)"
     class="alert alert-danger">
      <div *ngIf="model.errors.required">
        Engine required.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Number of Doors</label>
    <input #numberOfDoors="ngModel" [(ngModel)]="newCar.numberOfDoors" name='numberOfDoors' type="number" class="form-control" required ng-min=2 ng-max=5 [range]="[2, 5]">

    <div *ngIf="numberOfDoors.invalid && (numberOfDoors.dirty || numberOfDoors.touched)"
     class="alert alert-danger">
      <div *ngIf="numberOfDoors.errors.required">
        Number of Doors required.
      </div>
      <div *ngIf="numberOfDoors.errors.range">
        Minimum number of Doors is 2 and maximum 5.
      </div>
    </div>
  </div>

  
  <button type="button" class="btn"
    (click)="carForm.reset()"
    [disabled]="carForm.form.pristine"
  >Reset</button>
  <button type="submit" class="btn btn-primary"
    [disabled]="!carForm.form.valid"
  >{{ newCar.id ? "Edit Car" : "Add Car" }}</button>
</form>
</div>



 <!-- <form #carForm="ngForm" (ngSubmit)="addCar(newCar); carForm.reset()">
  
    	<label for="mark">Mark:</label>
    	<input name="mark" #mark="ngModel" [(ngModel)]="newCar.mark" type="text"/><br>
  
    	<label for="model">Model:</label>
    	<input name="model" #model="ngModel" [(ngModel)]="newCar.model" type="text"/><br>

    	<label for="year">Year:</label>
    	<select id="year" name="year" #year="ngModel" [(ngModel)]="newCar.year">
    		<option value="2007">2017</option>
			<option value="2006">2016</option>
			<option value="2005">2015</option>
			<option value="2004">2014</option>
			<option value="2003">2013</option>
			<option value="2002">2012</option>
			<option value="2001">2011</option>
			<option value="2000">2010</option>
			<option value="1999">2009</option>
			<option value="1998">2008</option>
			<option value="2007">2007</option>
			<option value="2006">2006</option>
			<option value="2005">2005</option>
			<option value="2004">2004</option>
			<option value="2003">2003</option>
			<option value="2002">2002</option>
			<option value="2001">2001</option>
			<option value="2000">2000</option>
			<option value="1999">1999</option>
			<option value="1998">1998</option>
			<option value="1997">1997</option>
			<option value="1996">1996</option>
			<option value="1995">1995</option>
			<option value="1994">1994</option>
			<option value="1993">1993</option>
			<option value="1992">1992</option>
			<option value="1991">1991</option>
			<option value="1990">1990</option>
	 	</select><br>
    	<input name="year" type="number" [(ngModel)]="newCar.year"/>

    	<label for="maxSpeed">Max Speed:</label>
    	<input name="maxSpeed" #maxSpeed="ngModel" [(ngModel)]="newCar.maxSpeed" type="number"/><br>
  
    	<div>
    		<label for="isAutomatic">Is Automatic?</label>
    		<input type="checkbox" id="isAutomatic" name="isAutomatic" value="true" #isAutomatic="ngModel" [(ngModel)]="newCar.isAutomatic">
  		</div>
  
    	<label for="engine">Engine:</label><br>
    	<input type="radio" name="engine" value="diesel" #engine="ngModel" [(ngModel)]="newCar.engine">diesel<br>
  		<input type="radio" name="engine" value="petrol" #engine="ngModel" [(ngModel)]="newCar.engine">petrol<br>
  		<input type="radio" name="engine" value="electric" #engine="ngModel" [(ngModel)]="newCar.engine">electric<br>
  		<input type="radio" name="engine" value="hybrid" #engine="ngModel" [(ngModel)]="newCar.engine">hybrid<br>

    	<label for="numberOfDoors">Number of Doors:</label>
    	<input name="numberOfDoors" #numberOfDoors="ngModel" [(ngModel)]="newCar.numberOfDoors" type="number"/><br>

    	<!-- <button class="btn btn-primary" (click)="addCar(newCar); carForm.reset()" [disabled]="!carForm.valid">Add Car</button> -->

    <!-- 	<button type="button" class="btn" (click)="carForm.reset()" [disabled]="carForm.form.pristine">Reset</button>
  
  		<button type="submit" class="btn btn-primary" [disabled]="!carForm.form.valid">{{ newCar.id ? "Edit Car" : "Add Car" }}</button> -->

 		<!-- <button type="submit" class="btn btn-primary" (click)="carForm.submitCar(newCar)" [disabled]="!carForm.form.valid">Add Car</button>
    </form> -->




