<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<app-car-form #carForm (onSubmit)="submitCar($event)"></app-car-form>

<div class="container">
  <h2>Car Table</h2>
  <p></p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Mark</th>
        <th>Model</th>
        <th>Year</th>
        <th>Max Speed</th>
        <th>Automatic</th>
        <th>Engine</th>
        <th>Number of Doors</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars; let i = index" [carRow]="car" [index]="i" (onEdit)="carForm.edit(car)" (onRemove)="remove(car)">
        <!-- <td>{{car.id}}</td>
        <td>{{car.mark}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>{{car.maxSpeed}}</td>
        <td>{{car.isAutomatic}}</td>
        <td>{{car.engine}}</td>
        <td>{{car.numberOfDoors}}</td> -->
        <!-- <td  ></td> -->
<!--       </tr>
    
  </table>
</div>

</body>
</html>
 -->

 <h1>Cars</h1>

<app-car-form #carForm (onSubmit)="submitCar($event)"></app-car-form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Index</th>
      <th>Old Index</th>
      <th></th>
      <th>Mark</th>
      <th>Model</th>
      <th>Year</th>
      <th>Max Speed</th>
      <th>Automatic</th>
      <th>Engine</th>
      <th>Number of Doors</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars; let i = index" [carRow]="car" [index]="i" (onEdit)="carForm.edit(car)" (onRemove)="remove(car)">
    </tr>
</table>

<router-outlet></router-outlet>
